---
layout: default
---

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">We are dedicated to quality</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Give your walls a life</span><br>
    <span class="w3-large">Here at PaintBoss we got you covered, ready to make you house your home.</span>
    <p><a href="gallery.html" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Our gallery</a></p>
  </div> 
</header>
  
<!-- About Section -->
<div class="w3-container" style="padding: 16px" id="about">
  <h3 class="w3-center">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:34px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center" style="color:rgb(28, 66, 192)"></i>
      <p class="w3-large">Exterior painting</p>
      <p>Exterior paiting can increase the value of your home by atleast 15%, but only when done by a professional painter. PaintBoss got you covered</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo" style="color:rgb(21, 167, 28)"></i>
      <p class="w3-large">Interior painting</p>
      <p>The interior look of your house will always tell what kind of life you live. The alternative of bad design is good design.PaintBoss is here to give you a good interior design.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo" style="color:blue"></i>
      <p class="w3-large">Tiling</p>
      <p>At PaintBoss we help make your house floor look amazing by tiling your floor and walls with your design choice.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo" style="color:brown"></i>
      <p class="w3-large">Home renovation</p>
      <p>Are you tired of the outdated, scratched and worn-out old look of your house? PaintBoss is here to give you a new look.</p>
    </div>
  </div>
</div>

 
<!-- Promo Section "Statistics" -->

{% include sections/work.html %}

{% include sections/skills.html %}
<!--meet the team-->

{% include sections/team.html %}

{% include sections/testimonials.html %}


