<!--interior designs-->
<div class="interior">
  <h2>Our interior Designs</h2>
  <p>Have an Idea</p>
  <div class="interior1">
        <div><img src="./img/in1.jpg" style="width:100%"></div>
        <div><img src="./img/interior5.jpg" style="width:100%"></div>
        <div><img src="./img/interior3.jpg" style="width:100%"></div>
  </div>

</div> 
<div class="parallax"></div>

<!--exterior design-->
<div class="exterior">
  <h2>Our Exterior Designs</h2>
  <p>Have an Idea</p>
  <div class="exterior1">
        <div><img src="./img/exterior1.jpg" style="width:100%"></div>
        <div><img src="./img/exterior5.jpg" style="width:100%"></div>
        <div><img src="./img/exterior3.jpg" style="width:100%"></div>
  </div>
  <div class="txt">We can make that Idea a reality</div>
</div> 
<div class="parallax"></div>
