<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>We are experts in.</h3>
      <p>We are a group of professional with the best working skill and experience.</p>
      <p>Trust your house project to a proffessional contractor and you will leave</br>happily, PiaintBoss is a client friendly company that is here to make your dream house come to reality. We are the best contractors with qualified workers.</p>
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Interior & Exterior wall Painting</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:90%">100%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Floor/wall Tiling</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:85%">100%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Glass window istallation</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:75%">100%</div>
      </div>
    </div>
  </div>
</div>
  