<div class="team" id="team">
  <h1>Meet the Team</h1>
  <div class="timi">
    <div><img src="./img/wamiselo.jpg" alt="michigan"></div>
    <div class="containeri">
      <h2>Michi</h2>
      <p>Founder</p>
      <p>Expect the best</p>
      <p><button class="button">Contact</button></p>
    </div>
    <div><img src="./img/patel.jpg" alt="peter"></div>
    <div class="containeri">
      <h2>peter patel</h2>
      <p>organiser & marketer</p>
      <p>I believe in quality</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
  <div class="w3-row" id="contact">
    <div class="w3-half w3-darki-grey w3-container w3-center" style="height:400px;background-color:#111;">
      <div class="w3-padding-64">
        <h1>Swing By</h1>
      </div>
      <div class="w3-padding-64e">
        <p>..for a cup of coffee, or whatever.</p>
        <p>Central, Kenya</p>
        <p>+254 0792562569</p>
        <p>paintboss@gmail.com</p>
      </div>
    </div>
    {% include sections/form.html %}
  </div>
</div>
