<!-- Testimonials -->
<div class="testimon">
  <h1>Testimonials</h1>
  <div class="test">
    <div class="containera">
      <img src="./img/proud2.jpg" alt="Avatar" style="width:90px">
      <p><span>Chris Kimau.</span> CEO at Mighty Schools.</p>
      <p>PaintBoss saved us from a painting disaster, we are proud you did us a nice job.</p>
    </div>
  
    <div class="containera">
      <img src="./img/proud.jpg" alt="Avatar" style="width:90px">
      <p><span>Rebecca Mwende.</span> CEO at Company.</p>
      <p>No company is better than PaintBoss.Am hoping to work with you in future</p>
    </div>
  </div>
</div>
  