
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/#home" class="w3-bar-item w3-button w3-wide">{{ site.title }}</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      {% for link in site.data.menu %}
        <a href="{% if link.url %} {{ link.url }} {% else %} /#{{ link.name }} {% endif %}" class="w3-bar-item w3-button">
          {% if link.icon %}<i class="fa fa-{{ link.icon}}"></i>{% endif %}
          {{ link.name | upcase }}
        </a>
      {% endfor %}
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  {% for link in site.data.menu %}
    <a href="{% if link.url %} {{ link.url }} {% else %} /#{{ link.name }} {% endif %}" onclick="w3_close()" class="w3-bar-item w3-button">{{ link.name | upcase }}</a>
  {% endfor %}
</nav>